VITE_APP_NAME=遥测平台
VITE_APP_VERSION=0.1.0
VITE_PUBLIC_BASE_PATH=/
VITE_API_BASE_URL=http://localhost:28117
VITE_API_BASE_PATH=/api
VITE_DEV_HOST=127.0.0.1
VITE_DEV_PORT=25173
VITE_PREVIEW_HOST=127.0.0.1
VITE_PREVIEW_PORT=25174
